@mixin info-mobile {
    @media (max-width: 680px) {
        @content;
    }
}

@-webkit-keyframes initiaInfo {
    from {
        transform: translateY(30px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes initiaInfo {
    from {
        transform: translateY(30px);
    }
    to {
        transform: translateY(0);
    }
}

.container-info {
    position: fixed;
    bottom: -170px;
    right: 5%;
    background: rgba(255, 255, 255, 0.555);
    width: 250px;
    height: 200px;
    padding: 10px 15px;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 1s;
    -webkit-animation: initiaInfo .8s;
    animation: initiaInfo .8s;
    -webkit-box-shadow: -1px 0px 22px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 22px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 22px -12px rgba(0, 0, 0, 0.75);

    @include info-mobile {
        right: calc(50% - 125px);
    }

    & > header {
        width: 100%;
        padding-bottom: 5px;
            margin-bottom: 5px;
            border-bottom: 2px double rgb(221, 221, 221);
        & > p {
            text-align: center;
            font-weight: 900;
            font-size: 17px;
            color: rgba(56, 56, 56, 0.575);
        }
    }

    & > main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        //border: 1px solid red;
        height: 100%;

        & > img {
            width: 40px;
            border-radius: 15%;
        }

        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;

            & > h1 {
                font-size: 18px;
                color: rgb(56, 56, 56);
            }

            & > div {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 6px;
                padding: 3px;

                & > img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: #eee;
                    margin-right: 5px;
                }

                & > p {
                    font-size: 13px;
                    color: rgb(88, 88, 88);
                }
            }
        }

        & > p {
            font-size: 13px;
            color: rgb(88, 88, 88);
            margin-top: 5px;
            padding-top: 5px;
            border-top: 2px double #eee;
        }
    }

    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: rgb(88, 88, 88);
    }

    /*img {
      width: 20px; 
    }*/
}

.open-info {
    transform: translateY(-170px);
    background: rgba(255, 255, 255, 0.897);
}
