@mixin table-computer {
    @media (min-width: 1240px) {
        @content;
    }
}

@mixin table-mobile {
    @media (max-width: 1230px) {
        @content;
    }
}

@mixin scrollbar-computer {
    @media (min-width: 992px) {
      @content;
    }
  }
  

.container {
    width: calc(100vw - 200px);
    height: 100%;
    // min-height: 90vh;
    padding: 50px 10px;
    transition: transform 0.5s;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 9;
    // border: 1px solid red;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    /* @include table-computer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */

    @include table-mobile {
        width: 100vw;
        padding: 10px;
        // z-index: 999;
    }

    /* &.move {
        transform: translate(200px);
    } */

    /* & > button {
        position: absolute;
        left: 4px;
        top: 4px;
        border: none;
        background: transparent;
        padding: 4px;
        font-size: 20px;
        cursor: pointer;
        transition: transform 0.2s;
        z-index: 9999;

        &.show {
            display: none;
        }

        &:active {
            transform: scale(0.9);
        }
    }*/ 
}

.expand {
  width: calc(100vw - 60px);
}

@include scrollbar-computer {
    /* SCROLLBAR */

    /* total width */
    .container::-webkit-scrollbar {
      background-color: rgb(248, 248, 248);
      width: 16px;
    }

    /* background of the scrollbar except button or resizer */
    .cocontainerntent::-webkit-scrollbar-track {
      background-color: rgb(248, 248, 248);
    }
    .container::-webkit-scrollbar-track:hover {
      background-color: rgb(248, 248, 248);
    }

    /* scrollbar itself */
    .container::-webkit-scrollbar-thumb {
      background-color: #babac0;
      border-radius: 16px;
      border: 5px solid rgb(248, 248, 248);
    }
    .container::-webkit-scrollbar-thumb:hover {
      background-color: #a0a0a5;
      border: 4px solid rgb(248, 248, 248);
    }

    /* set button(top and bottom of the scrollbar) */
    .container::-webkit-scrollbar-button {
      display: none;
    }
  }
