@mixin scrollbar-computer {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin feed-mobile {
  @media (min-width: 861px) and (max-width: 1230px) {
    @content;
  }
}

@mixin feed-mobile-2 {
  @media (max-width: 860px) {
    @content;
  }
}

.container {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s;
  position: relative;
  z-index: 999;

  @include feed-mobile {
    z-index: 999;
  }

  @include feed-mobile-2 {
    z-index: 999;
    flex-direction: column;
    height: 100vh;
  }

  &.move-sidebar {
    transform: translate(200px);
  }

  & > button {
    position: absolute;
    left: 4px;
    top: 4px;
    border: none;
    background: transparent;
    padding: 4px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 999999999;

    &.show {
      display: none;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  .content {
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    padding-top: 20px;

    @include feed-mobile {
      width: 100vw;
    }

    @include feed-mobile-2 {
      width: 100vw;
      min-height: 100vh;
    }

    @-webkit-keyframes initial {
      from {
        transform: translateY(-45px);
      }
      to {
        transform: translateY(0);
      }
    }
    @keyframes initial {
      from {
        transform: translateY(-45px);
      }
      to {
        transform: translateY(0);
      }
    }

    .container-nav {
      // border: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      //width: 100%;
      //max-width: 1100px;
      width: 30vw;
      background: #fff;
      border-radius: 0 0 15px 15px;
      position: absolute;
      height: 100%;
      max-height: 80px;
      z-index: 99999;
      left: calc(50% - 15vw);
      top: -45px;
      padding: 0 15px;
      transition: transform 0.6s;
      -webkit-animation: initial 1s;
      animation: initial 0.8s;

      @include feed-mobile-2 {
        width: 60vw;
        left: calc(50% - 30vw);
      }

      & > nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        //border: 1px solid red;
        width: 100%;
        height: 100%;
        position: relative;

        & > div {
          list-style: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          width: 100%;
          max-height: 75px;
          max-width: 400px;
          //border: 1px solid red;

          & > button {
            display: flex;
            height: 100%;
            width: 100%;
            max-width: 80px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5px;
            background: #fff;
            border-radius: 15px;
            cursor: pointer;
            border: none;
            border-bottom: 1px solid #fff;
            transition: background 0.5s;
            transition: border 0.2s;

            & > p {
              font-weight: bold;
              margin-bottom: 5px;
            }

            img {
              width: 30px;
              //margin-top: auto;
              transition: width 0.5s;
              transition: transform 0.5s;
              transform: translateY(10px);
            }

            .size-image {
              transform: translateY(0);
            }
          }
        }

        .news {
          &:hover {
            background: rgba(68, 116, 237, 0.089);
            border-color: #4473ed;
          }

          & > p {
            color: #4473ed;
          }
        }

        .selected-news {
          background: rgba(68, 116, 237, 0.089);
          border-color: #4473ed;
          color: #4473ed;
        }

        .event {
          &:hover {
            background: rgba(203, 41, 68, 0.089);
            border-color: #cb2944;
          }

          & > p {
            color: #cb2944;
          }
        }

        .selected-event {
          background: rgba(203, 41, 68, 0.089);
          border-color: #cb2944;
          color: #cb2944;
        }

        .voting {
          &:hover {
            background: #57be911f;
            border-color: #57be92;
          }

          & > p {
            color: #57be92;
          }
        }

        .selected-voting {
          background: #57be911f;
          border-color: #57be92;
          color: #57be92;
        }

        & > button {
          position: absolute;
          right: -1%;
          bottom: 3%;
          border: none;
          padding: 2px 8px;
          background: rgba(0, 0, 0, 0.185);
          border-radius: 5px;
          color: #fff;
          font-weight: bold;
          font-size: 15px;
          transition: background 0.2s;
          cursor: pointer;
          //border: 1px solid red;
          z-index: 999999999;

          &:hover {
            background: rgba(0, 0, 0, 0.404);
          }

          & > img {
            width: 10px;
            height: 12px;
            transition: transform 0.4s;
          }

          .rotate-arrow {
            transform: rotate(180deg);
          }
        }
      }
    }

    .move-navbar {
      transform: translateY(45px);
    }
  }

  @include scrollbar-computer {
    /* SCROLLBAR */

    /* total width */
    .content::-webkit-scrollbar {
      background-color: #f1f1f1;
      width: 16px;
    }

    /* background of the scrollbar except button or resizer */
    .content::-webkit-scrollbar-track {
      background-color: #f1f1f1;
    }
    .content::-webkit-scrollbar-track:hover {
      background-color: #f1f1f1;
    }

    /* scrollbar itself */
    .content::-webkit-scrollbar-thumb {
      background-color: #babac0;
      border-radius: 16px;
      border: 5px solid #f1f1f1;
    }
    .content::-webkit-scrollbar-thumb:hover {
      background-color: #a0a0a5;
      border: 4px solid #f1f1f1;
    }

    /* set button(top and bottom of the scrollbar) */
    .content::-webkit-scrollbar-button {
      display: none;
    }
  }
}
