
#formulario {
    border-radius: 15px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 10px;
    width: 50vh;
    padding: 50px 20px 50px 20px;
    align-items: center;
    background-color: white;

    

    #fotoUser, #email, #deputado, #senador{
        grid-column: 1/3;
    }

    #fotoUser{
        cursor: pointer;
    }

    #btnCadastrar{
        background-color: blue;
        color: white;
        margin-top: 17vh;
        cursor: pointer;
    }

    #btnJaTemConta {
        color: white;
        background-color: #11c04b;
        margin-top: 17vh;     
        cursor: pointer;  
    }
}

input {
    display: block;
    border-radius: 10px;
    border: 1px solid black;
    padding: 6px;
}

#logo{
    height: 70px;
    margin-top: 15vh;
    margin-left: 10px;
}

#seletorArquivo[type='file']{
    display: none;
}

.background{
    text-align: -webkit-center;
}

.container{
    background: url('../../assets/initial/waveFundoCadastroBottom.svg') no-repeat bottom,
    url('../../assets/initial/waveFundoCadastroTop.svg') no-repeat top; 

    height: 100vh;
}