.container{
    width: 85vw;
    min-height: 90vh;
    padding: 10px 0;
    transition: transform 0.5s;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    
    form {
        text-align: center;
        
        .usersImage{
            margin-top: 5vh;
            min-width: 200px;
            min-height: 200px;
            max-width: 200px;
            max-height: 200px;
            width: 200px;
            height: 200px ;
            border-radius:560px;
        }
        .select-file-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10vh;


            label {
              cursor: pointer;
              color: #648FFF;
              text-align: start;
            }
            
            input{
                display: none;
            }

        }

        .input-group{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
            grid-gap: 3vh;
            label{
                grid-column: 1/2;
                color: #A0A0A0;
                font-size: 25px;
                margin-bottom: 3vh;
            }

            #seg{
                text-align: left;
                grid-column: 1/4;
            }

            input{
                border-radius: 10px;
                border-style: none;
                grid-column:2/11;
                font-size: 20px;
                margin-bottom: 3vh;
            }
            
        }

        .button-group{
            text-align: right;

            button{
                width: 17vh;
                height: 5vh;
                border-radius: 10px;
                border-style: none;
                font-size: 15px;
                cursor: pointer;
            }

            #btnAlterar{
                background-color: #1FC468;
                color: white;
                margin-right: 5vh;
                transition: 0.5s;

                &:hover{
                    background-color: rgb(10, 167, 81);
                    transition: 0.5s;
                }
            }



            #btnDesconectar{
                background-color: #FF0000;
                color: white;
                transition: 0.5s;

                &:hover{
                    background-color: rgb(184, 17, 17);
                    transition: 0.5s;
                }
            }
        }
    }
}