.container {
    & > h1 {
        text-align: center;
        padding: 20px;
    }
    & > div {
        & > table {            
            tr {
                td {
                    padding: 50px;
                }
            }
        }
    }
}