.container {
    & > h1 {
        text-align: center;
        padding: 20px;
    }
    & > div {
        & > table {
            thead {
                tr {
                    td {
                        padding: 5px;
                        font-weight: bold;
                    }
                }
            }            
            tr {
                td {
                    padding: 50px;
                }
            }
        }
    }
}