@mixin template-computer {
    @media (min-width: 680px) {
        @content;
    }
}

@mixin template-mobile {
    @media (max-width: 679px) {
        @content;
    }
}

main {
    @keyframes pulse {
        0% {
            background-color: rgba(165, 165, 165, 0.1);
        }
        50% {
            background-color: rgba(165, 165, 165, 0.3);
        }
        100% {
            background-color: rgba(165, 165, 165, 0.1);
        }
    }
    @-webkit-keyframes pulse {
        0% {
            background-color: rgba(165, 165, 165, 0.1);
        }
        50% {
            background-color: rgba(165, 165, 165, 0.3);
        }
        100% {
            background-color: rgba(165, 165, 165, 0.1);
        }
    }
    
    .loading-news {
        width: 100%;
        height: 100%;
        max-width: 1100px;
        background: #fff;
        border-radius: 15px 8px 8px 15px;
        display: flex;
        flex-direction: row;
        //align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
    
    
        &:nth-child(1) {
            @include template-computer {
                min-height: 300px;
            }       
        }
    
        &:nth-child(2) {
            @include template-computer {
                min-height: 280px;
            }       
        }
    
        &:nth-child(3) {
            @include template-computer {
                min-height: 400px;
            }       
        }
    
        @include template-mobile {
            flex-direction: column;
            border-radius: 15px 15px 8px 8px;
        }
    
        .image {
            width: 50%;
            border-radius: 15px;
            background: rgba(165, 165, 165, 0.3);
            padding: 5px;
    
            @include template-mobile {
                border-radius: 15px 15px 8px 8px;
                width: 100%;
                height: 200px;
            }
        }
    
        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 50%;
            padding: 10px 13px;
    
            @include template-mobile {
                width: 100%;
            }
    
            .texts {
                width: 100%;
                display: flex;
                flex-direction: column;
    
                .title-line {
                    height: 13px;
                    background: rgba(165, 165, 165, 0.3);
                    border-radius: 4px;
                    margin-bottom: 3px;
                    align-self: center;
                    animation: pulse 1s infinite ease-in-out;
                    -webkit-animation: pulse 1s infinite ease-in-out;
    
                    &:nth-child(1) {
                        width: 85%;
                    }
    
                    &:nth-child(2) {
                        width: 90%;
                    }
    
                    &:nth-child(3) {
                        margin-bottom: 20px;
                        width: 30%;
                    }
                }
    
                .line {
                    height: 9px;
                    background: rgba(165, 165, 165, 0.3);
                    border-radius: 4px;
                    margin-bottom: 5px;
                    animation: pulse 1s infinite ease-in-out;
                    -webkit-animation: pulse 1s infinite ease-in-out;
    
                    &:nth-child(4) {
                        width: 85%;
                    }
    
                    &:nth-child(5) {
                        width: 95%;
                    }
    
                    &:nth-child(6) {
                        width: 90%;
                    }
    
                    &:nth-child(7) {
                        width: 45%;
                    }
    
                    &:nth-child(8) {
                        width: 65%;
                    }
                }
            }
    
            .footer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                width: 100%;
                height: 10%;
                padding: 5px;
    
                .icons {
                    display: flex;
                    align-items: center;
                    width: 50%;
    
                    & > div {
                        margin-right: 25px;
                        display: flex;
                        align-items: center;
                        color: #a5a5a54d;
    
                        .line {
                            margin-left: 5px;
                            border-radius: 3px;
                            width: 15px;
                            height: 9px;
                            background: rgba(165, 165, 165, 0.3);
                            animation: pulse 1s infinite ease-in-out;
                            -webkit-animation: pulse 1s infinite ease-in-out;
                        }
                    }
                }
    
                .infos {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-end;
                    height: 100%;
                    width: 20%;
    
                    .line {
                        width: 100%;
                        //margin-bottom: 5px;
                        height: 5px;
                        border-radius: 5px;
                        background: rgba(165, 165, 165, 0.3);
                        animation: pulse 1s infinite ease-in-out;
                        -webkit-animation: pulse 1s infinite ease-in-out;
                    }
                }
            }
        }
    }
}