@mixin for-phone-one {
  @media (min-width: 511px) and (max-width: 699px) {
    @content;
  }
}

@mixin for-phone-one-landscape {
  @media (min-width: 731px) and (max-width: 823px) and (orientation: landscape) {
    @content;
  }
}

@mixin for-phone-two {
  @media (max-width: 510px) {
    @content;
  }
}

@mixin for-phone-two-landscape {
  @media (max-width: 667px) and (orientation: landscape) {
    @content;
  }
}

@mixin default {
  @media (min-width: 700px) {
    @content;
  }
}

nav {
  display: flex;
  background: transparent;

  @include default {
    height: 10vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
  }

  @include for-phone-one {
    height: 20vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  @include for-phone-two {
    height: 25vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  @include for-phone-one-landscape {
    margin-top: 3vh;
  }

  @include for-phone-two-landscape {
    padding-top: 13vh;
  }

  img {
    height: 70px;
    margin-bottom: -15px;
  }

  .form-group {
    display: flex;

    @include default {
      flex-direction: row;
      align-items: center;
      margin-right: 15px;
    }

    @include for-phone-two {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    button {
      border: none;
      padding: 8px 8px;
      border-radius: 4px;
      width: 12vh;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.2s;

      @include for-phone-two {
        width: 30vh;
      }

      @include for-phone-two-landscape {
        margin-top: 2vw;
        width: 30vw;
      }

      @include for-phone-one-landscape {
        width: 20vw;
      }
    }

    .button-signIn {
      background: #27c55bb9;

      &:hover {
        background: rgb(14, 180, 89);
      }
    }

    .button-signUp {
      background: #3776b4;
      margin-left: 2vh;

      @include for-phone-two {
        margin-left: 0;
        margin-top: 1vh;
      }

      &:hover {
        background: #2b59c1;
      }
    }
  }

  @-webkit-keyframes fadeIn {
    from {
      display: none;
      opacity: 0;
    }
    to {
      display: block;
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      display: none;
      opacity: 0;
    }
    to {
      display: block;
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeOut {
    from {
      display: block;
      opacity: 1;
    }
    to {
      display: none;
      opacity: 0;
    }
  }
  @keyframes fadeOut {
    from {
      display: block;
      opacity: 1;
    }
    to {
      display: none;
      opacity: 0;
    }
  }

  .modal-window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.507);
    z-index: 999;
    pointer-events: auto;
    transition: all 0.3s;
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;

    /*&:target {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }*/

    & > div {
      width: 100%;
      max-width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 3em 2em;
      background: #ffffff;
      display: flex;
      border-radius: 4px;

      .button-close {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 36px;
        height: 36px;
        right: -16px;
        top: -16px;
        border: none;
        border-radius: 50%;
        font-size: 30px;
        text-decoration: none;
        background: #125e41d0;
        color: rgba(255, 255, 255, 0.705);
        cursor: pointer;
        transition: all 0.2s;

        @include for-phone-two {
          top: 3px;
          right: 3px;
        }

        @include for-phone-two-landscape {
          top: 3px;
          right: 3px;
        }

        &:hover {
          color: rgba(255, 255, 255, 0.884);
          background: #125e41f1;
        }
      }

      & > form {
        width: 100%;

        & > p {
          margin-bottom: 5px;
          font-weight: bold;
          font-size: 18px;
          color: #3e3f4b;
        }

        & > input {
          border: 1px solid rgb(204, 204, 204);
          background: #fff;
          padding: 10px 15px;
          border-radius: 4px;
          width: 100%;
          margin-bottom: 13px;
          color: #3e3f4b;

          @include default {
            margin-right: 3%;
          }

          @include for-phone-one {
            margin-right: 3%;
          }

          @include for-phone-two {
            margin-bottom: 3%;
          }
        }

        & > button {
          width: 100%;
          padding: 10px 15px;
          margin-top: 25px;
          border: none;
          background: #27c55bb9;
          color: #fff;
          font-size: 18px;
          font-weight: bold;
          border-radius: 4px;
          cursor: pointer;
          transition: background 0.2s;

          &:hover {
            background: rgb(14, 180, 89);
          }
        }

        ::placeholder {
          /* Most modern browsers support this now. */
          color: rgb(99, 99, 99);
        }
      }
    }
  }

  .close {
    /*-webkit-animation: fadeOut 0.2s;
    animation: fadeOut 0.2s;
    animation-fill-mode: both;*/
    display: none;
    pointer-events: none;
  }
}
