@mixin for-phone-one {
  @media (min-width: 511px) and (max-width: 699px) {
    @content;
  }
}

@mixin for-phone-two {
  @media (max-width: 510px) {
    @content;
  }
}

@mixin default {
  @media (min-width: 700px) {
    @content;
  }
}

nav {
  display: flex;
  background: transparent;

  @include default {
    height: 10vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
  }

  @include for-phone-one {
    height: 20vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  @include for-phone-two {
    height: 25vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  img {
    height: 70px;
    margin-bottom: -15px;
  }

  .form-group {
    display: flex;

    @include default {
      flex-direction: row;
      align-items: center;
      margin-right: 15px;
    }

    @include for-phone-two {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    input {
      border: none;
      background: #e7e7e7;
      padding: 8px 15px;
      border-radius: 4px;

      @include default {
        margin-right: 3%;
      }

      @include for-phone-one {
        margin-right: 3%;
      }

      @include for-phone-two {
        margin-bottom: 3%;
      }
    }

    button {
      border: none;
      background: #27c55bb9;
      padding: 8px 43px;
      border-radius: 4px;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: rgb(14, 180, 89);
      }
    }
  }
}

::placeholder {
  /* Most modern browsers support this now. */
  color: rgb(99, 99, 99);
}
