.carousel-3d-container{
  width: 60vw;
}

.carousel-3d-container figure {
    margin:0;
    border-style: none;
  }
  
  .carousel-3d-container figcaption {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.336);
    color: #fff;
    bottom: 0;
    position: absolute;
    bottom: 0;
    padding: 15px;
    font-size: 12px;
    min-width: 100%;
    box-sizing: border-box;
  }

  .carousel-3d-slide{
    border-radius: 15px;
    border: 0;
  }

  .carousel-3d-controls >>> .prev >>> .nx{
    background-color:blue;
  }

