@mixin scrollbar-computer {
    @media (min-width: 992px) {
        @content;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    //border: 1px solid red;
    width: 100%;
    // padding: 0 15px;

    .main-graph {
        //border: 1px solid red;
        width: 100%;
        max-width: 940px;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-radius: 8px;

        .select-ano-tipos {
            width: 100%;
            & > select {
                margin-left: 0;
                float: left;
                border: 1px solid rgb(221, 221, 221);
                background: #fff;
                border-radius: 4px;
                color: rgb(110, 110, 110);
                font-weight: bold;
                padding: 5px 15px;
                width: 150px;
                margin-bottom: 15px;
                cursor: pointer;
                float: left;
            }
        }
        .text-politico-donut {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & > img {
                height: 80px;
                width: 75px;
                border-radius: 5px;
            }
            & > h1 {
                font-size: 25px;
                color: rgb(71, 71, 71);
            }
        }
    }

    .donut-sequence {
        //border: 1px solid red;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow-x: scroll;
        margin-top: 20px;

        & > div {
            width: 100%;
            max-width: 600px;
            background: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 15px;
            border-radius: 8px;
            margin-right: 30px;
            margin-left: 15px;

            & > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                & > img {
                    height: 80px;
                    width: 75px;
                    border-radius: 5px;
                }
                & > h1 {
                    font-size: 25px;
                    color: rgb(71, 71, 71);
                }
            }
        }
    }
}

/* SCROLLBAR */

@include scrollbar-computer {
    /* total width */
    .donut-sequence::-webkit-scrollbar {
        background-color: rgb(248, 248, 248);
        width: 16px;
    }

    /* background of the scrollbar except button or resizer */
    .donut-sequence::-webkit-scrollbar-track {
        background-color: rgb(248, 248, 248);
    }
    .donut-sequence::-webkit-scrollbar-track:hover {
        background-color: rgb(248, 248, 248);
    }

    /* scrollbar itself */
    .donut-sequence::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 16px;
        border: 5px solid rgb(248, 248, 248);
    }
    .donut-sequence::-webkit-scrollbar-thumb:hover {
        background-color: #a0a0a5;
        border: 4px solid rgb(248, 248, 248);
    }

    /* set button(top and bottom of the scrollbar) */
    .donut-sequence::-webkit-scrollbar-button {
        display: none;
    }
}
