.search-container {
  // border: 1px solid red;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  padding: 12px 15px;
  border-radius: 6px;
  font-size: 15px;
  text-align: start;
  max-width: 450px;

  & > div {
    color: #424242;
    font-size: 22px;
    margin-right: 10px;
    padding-right: 10px;
  }

  & > input {
    border: none;
    font-size: 15px;
    background: transparent;
    width: 100%;
  }
}

.border-search {
  border: 1px solid rgba(189, 189, 189, 0.541);
}
