/* responsive search */
@mixin search-mobile-1 {
  @media (min-width: 500px) and (max-width: 618px) {
    @content;
  }
}

@mixin search-mobile-2 {
  @media (min-width: 395px) and (max-width: 599px) {
    @content;
  }
}

@mixin search-mobile-3 {
  @media (min-width: 200px) and (max-width: 394px) {
    @content;
  }
}

@mixin search-computer {
  @media (min-width: 619px) {
    @content;
  }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .search-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      @include search-mobile-3 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
  
      & > input {
        border: none;
        background: rgb(231, 231, 231);
        font-size: 15px;

        @include search-computer {
          width: 450px;
          padding: 18px 15px;
          border-radius: 6px;
          font-size: 15px;
        }

        @include search-mobile-1 {
          width: 380px;
          padding: 14px 15px;
          border-radius: 6px;
          font-size: 13px;
        }

        @include search-mobile-2 {
          width: 300px;
          padding: 13px 12px;
          border-radius: 4px;
          font-size: 13px;
        }

        @include search-mobile-3 {
          width: 310px;
          padding: 13px 12px;
          border-radius: 4px;
          font-size: 13px;
        }
      }
  
      & > button {
        border: none;
        background: #0557a4;
        color: #fff;
        font-weight: bold;
        
        border-radius: 6px;
        margin-left: -20px;
        transition: background .3s;
        cursor: pointer;

        @include search-computer {
          padding: 14px 45px;
          font-size: 20px;
        }

        @include search-mobile-1 {
          padding: 14px 35px;
        }

        @include search-mobile-2 {
          padding: 12px 25px;
        }

        @include search-mobile-3 {
          padding: 12px 25px;
          margin-top: 5px;
        }

        &:hover {
          background: #03417a;
        }
      }
    }
  }