/* header responsive bg */
@mixin background-portrait {
  @media (max-width: 399px) and (orientation: portrait) {
    @content;
  }
}

@mixin background-landscape {
  @media (max-width: 570px) and (orientation: landscape) {
    @content;
  }
}

/* footer responsive bg */
@mixin footer-mobile-low {
  @media (max-width: 590px) {
    @content;
  }
}

.background {
  height: 100vh;
  background: #27c55bb9;

  .header {
    background: url("../../assets/initial/wave2.svg") no-repeat top,
      url("../../assets/initial/wave.svg") no-repeat bottom;

    @include background-portrait {
      background: none;
    }

    @include background-landscape {
      background: none;
    }
  }

  .light-bar {
    margin-top: -2px;
    height: 4px;
    background: #fff;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 5px;
  
    & > h1 {
      color: #585858;
      // font-size: 50px;
      font-size: calc(1.5em + 1.5vw);
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
