/* responsive table */
@mixin table-mobile {
  @media (max-width: 1240px) {
    @content;
  }
}

@mixin table-computer {
  @media (min-width: 1241px) {
    @content;
  }
}

/* responsive filter */
@mixin filter-mobile {
  @media (max-width: 710px) {
    @content;
  }
}

@mixin filter-computer {
  @media (min-width: 711px) {
    @content;
  }
}

.table-container {
  display: flex;
  flex-direction: column;
  width: 78vw;
  padding: 20px 15px;
  margin: 15px 0;
  border-radius: 5px;
  background: #fff;

  .header {
    display: flex;
    flex-direction: column;

    .filter-group {
      display: flex;
      padding: 10px 0;

      @include filter-computer {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }

      @include filter-mobile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      & > select {
        border: none;
        background: #f1f1f1;
        border-radius: 4px;
        color: rgb(110, 110, 110);
        font-weight: bold;
        padding: 5px 15px;
        margin-left: 10px;
        width: 150px;
        cursor: pointer;

        @include filter-mobile {
          margin-bottom: 5px;
        }
      }
    }
  }

  table {
    border-collapse: collapse;
    margin-top: 10px;

    @include table-mobile {
      display: flex;
      flex-direction: column;
    }

    thead {
      border-bottom: 1px solid rgba(189, 189, 189, 0.541);

      @include table-mobile {
        display: none;
      }

      th {
        color: rgb(148, 148, 148);
        padding: 8px 10px;
        text-align: start;
        
        .tooltip {
          position: relative;
          display: inline-block;  

          .tooltip-text {
            visibility: hidden;
            width: 150px;
            background-color: rgb(93, 131, 167);
            text-align: center;
            border-radius: 6px;
            padding: 5px 3px;
            position: absolute;
            z-index: 1;
            bottom: 150%;
            left: 50%;
            margin-left: -60px; 
            opacity: 0;
            transition: opacity 0.5s;
            transition: 0.5s;
            color: #fff;
            font-weight: normal;
            font-size: 12px;

            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: rgb(93, 131, 167) transparent transparent transparent;
              transition: 0.5s;
            }
          }

          &:hover {
            .tooltip-text {
              visibility: visible;
              opacity: 1;
              transition: 0.5s;
            }
          }
        }
      }
    }

    tbody {
      @include table-mobile {
        display: flex;
        flex-direction: column;
      }

      .spinner {
        position: absolute;
        top: 0;
        left: 3%;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: 80%;
      }

      tr {
        transition: background 0.2s;

        @include table-mobile {
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;
          background: rgb(235, 235, 235);
          border-radius: 10px;
          padding: 10px 20px;
        }

        &:hover {
          background: rgba(53, 157, 255, 0.185);
        }

        td {
          color: rgb(53, 53, 53);
          padding: 15px 10px;
          font-size: 13px;
        }

        .label-exists {
          @include table-mobile {
            display: flex;
            flex-direction: column;
            text-align: right;
            padding-left: 50%;
            position: relative;
          }

          &::before {
            @include table-mobile {
              content: attr(data-label);
              position: absolute;
              left: 0;
              width: 50%;
              padding-left: 15px;
              font-size: 15px;
              font-weight: bold;
              text-align: left;
            }
          }
        }

        .classification-column {
          font-weight: bold;
          font-size: 18px;

          @include table-computer {
            text-align: center;
          }

          @include table-mobile {
            text-align: start;
          }
        }

        .name-column {
          display: flex;

          @include table-computer {
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
          }

          @include table-mobile {
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          img {
            border-radius: 50%;

            @include table-computer {
              width: 35px;
              height: 35px;
              margin-right: 10px;
            }

            @include table-mobile {
              width: 55px;
              height: 55px;
              margin-bottom: 5px;
            }
          }
        }

        .follow-button {
          text-align: center;

          & > div {
            text-align: center;
            button {
              border: none;

              background: #0557a4;
              color: #fff;

              cursor: pointer;
              transition: background 0.2s;

              @include table-computer {
                width: 70px;
                height: 30px;
                border-radius: 15px;
                font-size: 12px;
              }

              @include table-mobile {
                width: 100%;
                height: 40px;
                border-radius: 8px;
                font-size: 15px;
              }

              &:hover {
                background: rgba(5, 87, 164, 0.671);
              }
            }
          }
        }

        .following {
          & > div {
            button {
              background: rgba(5, 87, 164, 0.671);
            }
          }
        }
      }
    }
  }
  
  .pagination{
    margin-top: 10px;
    width: 20vh;
    display: flex;
    justify-content: space-evenly;

    .actual-page, button {
      font-size: 1.5em;
      user-select: none;
      color: rgb(78, 78, 78);
    }

    & > button {
      background: transparent;
      border: none;
      cursor: pointer;
      transition: transform .1s;
      transition: color .2s;

      &:active {
        transform: scale(0.90);
      }
    }
  }

  .btnPage:disabled{
    color: rgb(165, 164, 164);
  }
}

.border {
  border: 1px solid rgba(189, 189, 189, 0.541);
}
