.container {
    height: 100vh;
    background: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .mid {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        position: relative;
        height: calc(100% - 55px);
    }
}