.graficos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .pie-chart {
        margin-top: 3%;
        background: #fff;
        border-radius: 15px;
    }
    .bar-chart {
        border-radius: 15px;
        margin-top: 5%;
        width: 90%;
        text-align: center;
        background: #fff;
    }
}